.wrapperAccounts {
  overflow-x: auto;
  background-color: #1f2232;
  padding: 20px;
  border-radius: 16px;
}

.wrapperTitleSearch {
  display: flex;
  align-items: baseline;
  gap: 16px;
  margin-bottom: 3px;
}
