.tableWrapper {
  overflow-x: auto;
  min-width: max-content;
}

.table {
  width: 100%;
}

.label {
  display: flex;
  align-items: center;
  gap: 5px;
}

.logo {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.statusCell {
  display: flex;
  gap: 3px;
  align-items: center;
}

.status {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  display: inline-block;
}

.statusActive {
  background-color: #62b67e;
}

.statusPending {
  background-color: #f6d473;
}

.renevalPremium {
  font-weight: 600;
}

.lossRatio {
  display: inline-block;
  border-radius: 10px;
  padding: 3px 10px;
  font-size: 10px;
  font-weight: 600;
}

.lossRatioGreen {
  background-color: #62b67e;
  color: #ffffff;
}

.lossRatioYellow {
  background-color: #f6d473;
  color: #0a1a2c;
}

.lossRatioRed {
  background-color: #ab4440;
  color: #ffffff;
}

.rateWarning {
  color: #ab4440;
}

.totalRow {
  border-bottom: 1px solid #2b3243;
}

.total {
  text-transform: uppercase;
}
