.dashboardLayout {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.sidePanel {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media screen and (min-width: 1044px) and (max-width: 1278px) {
  .sidePanel {
    flex-direction: row;
  }
}
